/* основной цвет текста #212121; */

/* вторичній цвет текста #757575; */

/* белый #FFFFFF; */

/* цвет контактов в футере rgba(255, 255, 255, 0.6); */

/* цвет веб #2196F3; */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --link-color: #212121;
  --accent-link-color: #2196f3;
  --btn-primari-btg-color: #f5f4fa;
  --btn-secondary-btg-color: #2196f3;
  --btn-primary-text-color: #212121;
  --btn-secondary-text-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #212121;
}
/* Убираэт у всех ссылок подчеркивание */
ul {
  list-style: none;
}
/* Стилизирует Лого */
.nav-logo {
  text-decoration: none;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}
/* Стилизирует ссылки в хедере */
.nav-link {
  color: var(--link-color);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--accent-link-color);
}
.nav-list .nav-link.current {
  color: var(--accent-link-color);
}

.nav-list .nav-link {
  text-decoration: none;
}
/* Стилизирует ссылки авторизации */
.auth-link {
  color: var(--link-color);
}

.auth-link:hover,
.auth-link:focus {
  color: var(--accent-link-color);
}

.auth-link {
  text-decoration: none;
}

.section-title {
  color: var(--primary-text-color);
}
/* Стилизирует герои */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero-btn {
  background-color: var(--btn-secondary-btg-color);
  color: var(--btn-secondary-text-color);
  cursor: pointer;
}

/* Стилизирует наши преимущества */
.benefits-title {
  color: var(--primary-text-color);
}

.benefits-text {
  color: var(--secondary-text-color);
}

/* Стилизация наша команда */

.team-title-secondary {
  color: var(--primary-text-color);
}
.team-text {
  color: var(--secondary-text-color);
}
/* Стилизация футтер */
.footer {
  background-color: #2f303a;
}
.footer-web {
  color: #2196f3;
}
.footer-studio {
  color: #ffffff;
}
.address-text {
  color: #ffffff;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Стилизация филтра */
.filter-btn {
  background-color: var(--btn-primari-btg-color);
  color: var(--btn-primary-text-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--btn-secondary-btg-color);
  color: var(--btn-secondary-text-color);
}

/* Стилизация портфолио */
.portfolio-subtitle {
  color: var(--primary-text-color);
}
.portfolio-text {
  color: var(--secondary-text-color);
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-link:hover,
.portfolio-link:focus {
  color: none;
}
